TOKEN="jwttokenhere21312asdasdasds"
DEBUG="true"

NO_TRAIN="false" # If you wan't disable training mode use true

MAX_TABLES=0 # 0 - use only for debug. System will not create emty tables for your bot. Use 1-5 for produnction.